* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

main {
    margin-top: 80px;
    padding-bottom: 20px;
    flex: 1;
    overflow-y: auto;
}

footer {
    height: 50px;

}

.accordion-button:focus,
.accordion-button:active,
.accordion-item:focus-within {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
}